/* CSS for https://hngdngng.github.io/password-generator/*/

/* Global Style */
html,
body,
.main {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Sections */
body {
  background-color: rgb(116,112,139);
}

.main {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  padding: 20px;
  padding-top: 10px;
}

header h1 {
  font-family: 'Roboto Condensed', Sans-Serif;
  text-align: center;
  font-weight: bolder;
  color: rgb(19,12,62);
}

/* Card Style */
.card {
  max-width: 800px;
  padding: 10px 10px;
  font-family: 'Cabin', Sans-Serif;
  background-color: rgb(19,12,62);
  color: rgb(228,49,71);
  border-radius: 20px;
}

.card-footer {
  text-align: center;
}

/* Button style */
.btn {
  background-color: rgb(228,49,71);
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
}

/* Password text style */
#password {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed rgb(228,49,71);
  border-radius: 20px;
  resize: none;

}

/* Media Query to change  */
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}
